<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Directive v-model in radiobutton</h4>
    <div id="app">
        <input type="radio" name="" id="" v-model="radiobutton" value="option-1"> Option 1
        <br>
        <input type="radio" name="" id="" v-model="radiobutton" value="option-2"> Option 2
        <br>
        <p>Your Choise is : {{ radiobutton }}</p>
    </div>
     <!-- For Developmen JS -->
     <script src="assets/vendor/vue.js"></script>
     <script src="assets/js/directive-v-model-in-radiobutton.js"></script>
</body>
</html>