<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h5>Watch Properties</h5>
        <label for="Kilometers">KM</label>
        <input type="text" v-model="kilometers">
        <label for="meters">M</label>
        <input type="text" v-model="meters">
    </div>
    <!-- For Developmen JS -->
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/watchproperties.js"></script>
</body>
</html>